@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  color: rgb(15, 15, 15);
  background: #f6f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 14px;
}
h2 {
  margin-bottom: 2rem;
}
p {
  color: #353434;
}
a {
  text-decoration: none;
  color: rgb(15, 15, 15);
  cursor: pointer;
  font-weight: 600;
}
.box {
  background: #fff;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0 0 15px #353434;
  text-align: center;
  max-width: 350px;
}
input:not(input[type='submit']) {
  background-color: #f5ebeb;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  font-size: 14px;
  margin-bottom: 1rem;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border: 1px solid #ea5455;
}
input:last-child {
  margin-bottom: 0;
}
input[type='submit'] {
  border: none;
  background: linear-gradient();
}

input[type='submit'],
.button {
  background-image: linear-gradient(
    to right,
    #ea5455 0%,
    #19a7ce 51%,
    #ea5455 100%
  );
  margin: 2rem 10px 10px;
  padding: 15px 3rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}

input[type='submit']:hover,
.button:hover {
  background-position: right center;
}
.warning {
  height: 30px;
  margin-bottom: 1rem;
  font-weight: 600;
}
